<a href="https://colab.research.google.com/github/aicha001/Final-Assessment/blob/main/Question2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#installing pandas
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
#importing pandas and matplotlib functions
import pandas as pd
import matplotlib.pyplot as plt

In [10]:
#Reading data from elp_sales database
database_sales= pd.read_csv("elp_sales.csv")
print(database_sales)

                               Region                Country        Item Type  \
0               Australia and Oceania                 Tuvalu        Baby Food
1   Central America and the Caribbean                Grenada           Cereal
2                              Europe                 Russia  Office Supplies
3                  Sub-Saharan Africa  Sao Tome and Principe           Fruits
4                  Sub-Saharan Africa                 Rwanda  Office Supplies
..                                ...                    ...              ...
95                 Sub-Saharan Africa                   Mali          Clothes
96                               Asia               Malaysia           Fruits
97                 Sub-Saharan Africa           Sierra Leone       Vegetables
98                      North America                 Mexico    Personal Care
99                 Sub-Saharan Africa             Mozambique        Household

   Sales Channel Order Priority  Order Date   Order ID   Ship Date  \
0        Offline              H   5/28/2010  669165933   6/27/2010
1         Online              C   8/22/2012  963881480   9/15/2012
2        Offline              L  05/02/2014  341417157  05/08/2014
3         Online              C   6/20/2014  514321792  07/05/2014
4        Offline              L  02/01/2013  115456712  02/06/2013
..           ...            ...         ...        ...         ...
95        Online              M   7/26/2011  512878119  09/03/2011
96       Offline              L  11/11/2011  810711038  12/28/2011
97       Offline              C  06/01/2016  728815257   6/29/2016
98       Offline              M   7/30/2015  559427106  08/08/2015
99       Offline              L  02/10/2012  665095412   2/15/2012

    Units Sold  Unit Price  Unit Cost  Total Revenue  Total Cost  Total Profit
0         9925      255.28     159.42     2533654.00  1582243.50     951410.50
1         2804      205.70     117.11      576782.80   328376.44     248406.36
2         1779      651.21     524.96     1158502.59   933903.84     224598.75
3         8102        9.33       6.92       75591.66    56065.84      19525.82
4         5062      651.21     524.96     3296425.02  2657347.52     639077.50
..         ...         ...        ...            ...         ...           ...
95         888      109.28      35.84       97040.64    31825.92      65214.72
96        6267        9.33       6.92       58471.11    43367.64      15103.47
97        1485      154.06      90.93      228779.10   135031.05      93748.05
98        5767       81.73      56.67      471336.91   326815.89     144521.02
99        5367      668.27     502.54     3586605.09  2697132.18     889472.91

[100 rows x 14 columns]

In [12]:
#Filtering data of only Oceania and Australia from the above database_sales
database_sales.columns
database_sales.loc[database_sales['Region']=="Oceania and Australia"]

Empty DataFrame
Columns: [Region, Country, Item Type, Sales Channel, Order Priority, Order Date, Order ID, Ship Date, Units Sold, Unit Price, Unit Cost, Total Revenue, Total Cost, Total Profit]
Index: []

In [15]:
# Dividing into columns
database_sales.groupby(['Region','Country'], as_index= False)['Total Profit'].sum("Oceania and Australia")

                Region       Country  Total Profit
0                 Asia    Bangladesh     606834.72
1                 Asia        Brunei     846885.00
2                 Asia    Kyrgyzstan       7828.12
3                 Asia          Laos     235601.16
4                 Asia      Malaysia      15103.47
..                 ...           ...           ...
71  Sub-Saharan Africa       Senegal     584073.87
72  Sub-Saharan Africa  Sierra Leone     649879.30
73  Sub-Saharan Africa   South Sudan      53252.50
74  Sub-Saharan Africa    The Gambia    1385883.27
75  Sub-Saharan Africa        Zambia     225246.90

[76 rows x 3 columns]